body {
  text-align: center;
  background-image: url("background.jpg");
}
.title {
  font-size: 5rem;
  margin-top: 0;
}
.math {
  display: inline;
}
.box {
  font-family: "Rampart One", cursive;
  border-style: dashed;
  width: 50%;
  margin: auto;
  padding: 50px;
  background-color: yellow;
}
.user {
  font-size: 20px;
  size: 1000px;
}
.myButton {
  box-shadow: inset 0px 1px 0px 0px #9acc85;
  background: linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
  background-color: #74ad5a;
  border: 1px solid #3b6e22;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  padding: 2px 12px;
  text-decoration: none;
}
